* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Include the background image */
body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}

/* Styles for user info container */
.user-info-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden; /* Added */
}

/* Profile section styles */
.profile-section {
    display: flex;
    align-items: flex-start;
}

.profile-photo {
    position: relative;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Square in the middle */
.square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #7d2ae8;
    z-index: -1;
    border-radius: 12px;
}

.button {
    color: #fff;
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.form_container .button {
    background: #7d2ae8;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

#logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    /* Add additional styling if needed */
}

.header {
    position: top;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}

.nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav,
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo,
.nav_link,
.button {
    color: #fff;
}

.nav_logo {
    font-size: 25px;
    margin-left: 140px; /* Adjust the left margin as needed */
    margin-top: 0;
}

.nav {
    max-width: 1100px;
    width: 100%;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    background-color: #7d2ae8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #6c24a3;
}